h1 {
    text-align: center;
}


#simulador-interactivo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
}

input{
    display: block;
    margin-bottom: 30px;
}

button {
    background-color: #7d8094;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}